<!DOCTYPE html>
<html>
  <head>
    <meat charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../style2.css">
    <title>Using FirebaseUI Auth, on the Web</title>

    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-firestore.js"></script>

    <script>
      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyARPrcJ4HENCyYx1xWOnr5Z386jlj4ir2g",
        authDomain: "fir-node-c52fc.firebaseapp.com",
        databaseURL: "https://fir-node-c52fc.firebaseio.com",
        projectId: "fir-node-c52fc",
        storageBucket: "fir-node-c52fc.appspot.com",
        messagingSenderId: "571278361366",
        appId: "1:571278361366:web:05147e6e6f71c1f5d70637"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>

    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

  </head>

  <body>
    <div class="main">
      <div class="left">
          <p>ありがとう</p>
      </div>
      <div class="center">
        <form>
            <p>ホーム</p>
            <p>message:<textarea id="message"></textarea><input type="submit" value="送信"></p>
            <hr>
        </form>
      </div>
      <div class="right">
          <p>ありがとう</p>
      </div>
    </div>

    <div class="register">
        <a href="/">登録する</a>
    </div>
 
    </script>
  </body>
</html>